<md-toolbar>
  <span class="spacer"></span>
  <span class="cityselect" [ngStyle]="{'font-weight': currentBold('ottawa')}" routerLink="/ottawa">Ottawa</span>
  <span class="small-spacer"></span>
  <span class="cityselect" [ngStyle]="{'font-weight': currentBold('toronto')}" routerLink="/toronto">Toronto</span>
  <span class="small-spacer"></span>
  <span class="cityselect" [ngStyle]="{'font-weight': currentBold('montreal')}" routerLink="/montreal">Montreal</span>
  <span class="spacer"></span>
</md-toolbar>
<router-outlet></router-outlet>